<div class="parent">
  <div class="container" [ngClass]="isSignDivVisiable ? 'active' :'' " id="container">
      <div class="form-container sign-up" >
          <form (ngSubmit)="userRegister()">
              <h1 style="font-size: 35px;">Créer un compte</h1>
              <div class="social-icons">
                  <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                  <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                  <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                  <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
              </div>
              <span>ou utilisez votre email pour vous inscrire</span>
              <input type="text" id="pseudo" name="pseudo" [(ngModel)]="user.pseudo" placeholder="Nom ou Pseudo">
              <input type="email" id="email" name="email" [(ngModel)]="user.email" placeholder="Email">
              <input type="password" name="password"  [(ngModel)]="user.password" placeholder="Mot de passe">
              <button >S'inscrire</button>
          </form>
      </div>
      <div class="form-container sign-in" >
          <form (ngSubmit)="Seconnecter()">
              <h1 style="font-size: 35px;">Se connecter</h1>
           <div class="social-icons">
                  <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                  <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                  <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                  <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
              </div>
              <span>ou utilisez votre email et mot de passe</span>
              <input type="email" name="email" [(ngModel)]="utilisateurInscrit.email" placeholder="Email">
              <input type="password" name="password" [(ngModel)]="utilisateurInscrit.password" placeholder="Mot de passe">
              <a href="#">→ Mot de passe oublié ? ←</a>
              <button >Se connecter</button>
          </form>
      </div>
      <div class="toggle-container">
          <div class="toggle">
              <div class="toggle-panel toggle-left">
                  <h1>Bienvenue de retour !</h1>
                  <p>Entrez vos coordonnées personnelles pour utiliser toutes les fonctionnalités du site</p>
                  <button type="button" class="hidden" id="login" (click)="isSignDivVisiable = false">Se connecter</button>
              </div>
              <div class="toggle-panel toggle-right">
                  <h1>Bienvenue</h1>
                  <p>Inscrivez-vous avec vos coordonnées personnelles pour utiliser toutes les fonctionnalités du site</p>
                  <button type="button" class="hidden" id="register" (click)="isSignDivVisiable = true">S'inscrire</button>
              </div>
          </div>
      </div>
  </div>
</div>
